- const title = "Compound Interest Calculator"
- const description = "Progressive web app for calculating compound interest"
- const currentYear = new Date().getFullYear().toString().substr(-2)

doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Interest")
    meta(name="description" content=description)
    meta(name="theme-color" content="#00ad45")
    meta(name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
    link(rel="manifest" href="/pwa/manifest.json")
    link(rel="preload" href="https://assets.gauslin.com/fonts/AvenirNext-Variable.woff2" as="font" type="font/woff2" crossorigin="crossorigin")
  body(no-touch no-js)
    compound-interest.app
      app-header.header
        div.header__frame
          h1.header__title= title
          user-settings.settings#settings
      main
        noscript Please <a href="https://www.enable-javascript.com/" title="How to enable JavaScript in your browser">enable JavaScript</a> to view this app.
        user-values.values(target=".table__data")
        div.table#table
          div.table__frame
            table.table__data
          p.rotate-screen Rotate screen to view <span>Interest</span> and <span>Growth</span> columns.
        app-expandable.expandable(target="table" label="table")
      footer.footer
        p.footer__blurb.footer__blurb--copyright
          span.footer__years © 2018–#{currentYear}
          a.footer__link(
            href="https://gauslin.com"
            title="Visit Ben Gauslin’s Website"
          ) Ben Gauslin
        p.footer__blurb.footer__blurb--repo
          a.footer__link(
            href="https://github.com/bgauslin/interest"
            title="View source code on GitHub"
          ) GitHub
      visibility-toggle(source=".values__total" target=".expandable, .table")
    if (process.env.NODE_ENV === 'development')
      script(src="https://css.gauslin.com/debugger.js" data-src="/breakpoints.json")
