thead
  tr
    th.year Year
    th.deposits Deposits
    th.interest Interest
    th.balance Balance
    th.growth Growth
tbody
  each row in table
    tr
      td.year= row.year
      td.deposits= row.deposits
      td.interest= row.interest
      td.balance= row.balance
      td.growth= row.growth
