ul
  each item, index in list
    li(id=item.name)
      label(for=item.name)= item.label
      input(
        type="text"
        name=item.name
        inputmode=item.inputmode
        autofocus=(index === 0)
        pattern=(item.pattern ? item.pattern : false)
        required
      )
.total
