ul
  each item, index in list
    li(field=item.name)
      label(for=item.name)= item.label
      input(
        type="text"
        id=item.name
        name=item.name
        inputmode=item.inputmode
        pattern=item.pattern
        autofocus=(index === 0)
        required
      )
.total
